admin/.DS_store
admin/videos/.DS_store
admin/videos/seconddraft.mov
admin/videos/teamintro-original.mov
admin/~$Team14 rough pitch.pptx
admin/~$Team Pitch.pptx
specs/.DS_Store
specs/.DS_Store
specs/.DS_Store
specs/pitch/~$Team Pitch.pptx
specs/.DS_Store
specs/.DS_Store
specs/.DS_Store
