* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, Arial, sans-serif;
    color: #111;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#page-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 30px;
    margin-top: 8vh;
}

#sequence-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-family: "Baloo 2", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: #1C4966;
}

#start-btn {
    display: block;
    justify-self: center;
    margin-bottom: 20px;
    padding: 8px 35px;
    font-size: 1.25em;
    border-radius: 25px;
    border-color: transparent;
    background-color: #1C4966;
    color: white;
    font-family: "Pathway Extreme", sans-serif;
    font-weight: 700;
    box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 20%);
}

#stats-grid{
    flex-wrap: wrap;
    justify-items: center;
    font-weight: 800;
    color: #41677F;
    font-family: "Konkhmer Sleokchher", sans-serif;
}

#card-grid {
    display: grid;
    gap: 1vh 1vw;
    justify-content: center;
    margin-top: 30px;
}

.card-row {
    display: contents;
}

.card {
    background-color: #BFE9E7;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

@media (width <= 375px) {
    #card-grid {
        grid-template-columns: repeat(3, 0.2fr);
        gap: 2.5vh 5vw;
        justify-items: center;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        margin-top: 5vh;
    }

    .card {
        width: 20vw;
        height: 20vw;
        min-width: 40px;
        min-height: 40px;
        border-radius: 24px;
        margin-top: 0;
    }
}

@media (width <= 480px) and (width >= 380px) {
    #sequence-title {
        font-size: 2.25rem; 
    }

    #page-info img {
        width: 25px;
        height: 25px;
    }
    
    #card-grid {
        grid-template-columns: repeat(3, 0.3fr);
        gap: 2vh 2vw;
        justify-items: center;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        margin-top: 5vh;
    }

    .card {
        width: 20vw;
        height: 20vw;
        min-width: 40px;
        min-height: 40px;
        border-radius: 25px;
        margin-top: 0;
    }
}

